@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Poppins:wght@500;700&display=swap');

/* Variables */
:root {
    --color-primary: hsl(180, 66%, 49%);
    --color-primary-light: hsl(180, 66%, 69%);
    --color-secondary: hsl(257, 27%, 26%);
} 

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

h1, h2, h3, h4 {
    color: var(--color-secondary);
}

/* Page Container */
.page-container {
    position: relative;
    width: 100%;
    min-width: 375px;
    margin: 0 auto;
}

/* Header Top */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 2rem 1rem;
}

/* Mobile Nav */
.hamburger-icon i {
    font-size: 2.8rem;
    color: hsl(0, 0%, 75%);
}

.hamburger-icon i:hover {
    cursor: pointer;
}

.mobile-nav {
    background-color: var(--color-secondary);
    padding: 3rem 1.5rem;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
}

.mobile-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-nav li {
    padding: 1.5rem;
}

.mobile-nav .line {
    height: .5px;
    background-color: rgb(101, 101, 101);
    width: 90%;
    margin: 2rem auto;
}

.mobile-nav .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container a {
    padding: 1rem 0;
    width: 300px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 1rem;
}

/* Get Started Section */
.get-started {
    overflow: hidden;
}

.get-started img {
    width: 130%;
    margin-left: 3.5rem;
}

.text-container {
    text-align: center;
    margin-top: 3rem;
    padding: 0 2.5rem;
}

.text-container > h2 {
    font-size: 3.8rem;
    line-height: 1.2;
}

.text-container > p {
    color: hsl(0, 0%, 40%);
    font-size: 1.7rem;
    line-height: 1.7;
    margin: 1.5rem 0 2rem;
}

.get-started-btn {
    padding: 1.2rem 4rem;
    border-radius: 30px;
}

/* Section with URL input and results */
.url-input-section {
    margin-top: 18rem;
    padding: 0 2rem;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Url input */
input[type="text"], 
input[type="submit"], 
.copy-btn {
    width: 100%;
    padding: 1.3rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1.7rem;
}

input[type="text"] {
    color: hsl(0, 0%, 40%);
}

input[type="text"]:focus {
    outline: none;
}

/* Submit button */
input[type="submit"] {
    margin-top: 4rem;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
}

/* Background for results URL input */
.result-bg-card {
    margin-bottom: 2.5rem;
    border-radius: 10px;
    background-color: #fff;
}

/* Background of URL input and Submit button */
.bg-primary {
    width: 100%;
    padding: 2.5rem;
    background-color: var(--color-secondary);
    background-image: url('./images/bg-shorten-mobile.svg');
    background-repeat: no-repeat;
    background-position: right top;
    transform: translateY(-45%);
}

/* Results with pasted URL above */
.results {
    transform: translateY(-15%);
}

.pasted-url {
    width: 100%;
    border-bottom: 1px solid hsl(0, 0%, 90%);
}

.pasted-url p {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    color: hsl(0, 0%, 40%);
}

.result {
    width: 100%;
    padding: 1rem 1.5rem 2rem;
}

.result > a {
    font-size: 1.5rem;
    color: var(--color-primary);
}

.copy-btn {
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
}

.result-bg-card:nth-of-type(2) .result .copy-btn {
    background-color: var(--color-secondary);
}

/* Statistics Section */
.statistics-section {
    padding: 0 2rem;
    text-align: center;
}

.statistics-section > h3 {
    font-size: 2.8rem;
}

.statistics-section > p {
    color: hsl(0, 0%, 60%);   
    font-size: 1.6rem;
    margin: 2rem 0 8.5rem;
    line-height: 1.7;
}

.statistics-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statistic-bg-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 0 1.5rem 1.5rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statistic-bg-card > h4 {
    font-size: 2.1rem;
}

.statistic-bg-card > p {
    color: hsl(0, 0%, 60%);   
    font-size: 1.6rem;
    margin: 2rem;
    line-height: 1.7;
}

.statistic-img-bg {
    width: 85px;
    height: 85px;
    padding: 1.8rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    transform: translateY(-50%);
}

/* Boost your links Section */
.boost-links-section {
    width: 100%;
    height: 300px;
    padding: 2rem;
    background-color: var(--color-secondary);
    background-image: url("./images/bg-boost-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boost-links-section h3 {
    color: #fff;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 4rem;
    background-color: hsl(260, 8%, 14%);
}

.footer h1,
.footer h4 {
    color: #fff;
}

.footer h4 {
    margin-bottom: 1.8rem;
}

.footer-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

.footer-link {
    color: hsl(0, 0%, 65%);
    font-size: 1.5rem;
    margin-bottom: .9rem;
}

.social-links-container {
    width: 180px;
    display: flex;   
    justify-content: space-between;
}

.bg-light-blue {
    background-color: #e4f2f7;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
    margin-top: 3rem;
    color: #fff;
}
    
.attribution a { 
    color: var(--color-primary); 
}

.connect-line {
    width: 7px;
    height: 100px;
    background-color: var(--color-primary);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
}

/* Breakpoint for Tablets and large Phones */
@media only screen and (min-width: 600px) {
    .get-started img {
        width: 100%;
    }
}

/* Medium Devices Breakpoint */
@media only screen and (min-width: 768px) {
    .header-top {
        padding: 2.5rem 5rem 2rem;
    }

    .get-started {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .get-started img {
        width: 50%;
    }

    .text-container {
        text-align: left;
        padding: 0 0 0 5rem;
    }

    .url-input-section {
        padding: 0 5rem;
    }

    .statistics-section {
        padding: 0 5rem;
    }
}

/* Utility classes */
.hide {
    transform: translate(-50%,-200%);
    opacity: 0;
    transition: all .8s ease;
}

.show {
    transform: translate(-50%, 0);
    opacity: 1;
    transition: all .8s ease;
}

.btn-primary {
    background-color: var(--color-primary);
    transition: all .3s ease;
}

.btn-primary:hover {
    background-color: var(--color-primary-light);
    transition: all .3s ease;
}

