@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Poppins:wght@500;700&display=swap');

:root {
    ---heading-color: hsl(0, 0%, 23%);
    --p-color: hsl(257, 7%, 63%);
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

h1 {
    color: var(---heading-color);
}

.page-container {
    position: relative;
    max-width: 430px;
    min-width: 375px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 2rem 1rem;
}

.hamburger-icon i {
    font-size: 2.8rem;
    color: hsl(0, 0%, 75%);
}

.mobile-nav {
    background-color: hsl(257, 27%, 26%);
    padding: 3rem 1.5rem;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;
}

.mobile-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-nav li {
    padding: 1.5rem;
}

.mobile-nav .line {
    height: .5px;
    background-color: rgb(101, 101, 101);
    width: 90%;
    margin: 2rem auto;
}

.mobile-nav .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container a {
    padding: 1rem 0;
    width: 300px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 1rem;
}

.get-started {
    overflow: hidden;
}

.get-started img {
    width: 130%;
    margin-left: 3.5rem;
}

.get-started .text-container {
    text-align: center;
    margin-top: 3rem;
    padding: 0 2.5rem;
}

.text-container > h2 {
    font-size: 3.8rem;
    line-height: 1.2;
    color: var(---heading-color);
}

.text-container > p {
    color: var(--p-color);
    font-size: 1.7rem;
    line-height: 1.7;
    margin: 1.5rem 0 2rem;
}

.get-started-btn {
    padding: 1.2rem 4rem;
    border-radius: 30px;
}

/* Utility classes */
.hide {
    transform: translate(-50%,-200%);
    opacity: 0;
    transition: all .8s ease;
}

.show {
    transform: translate(-50%, 0);
    opacity: 1;
    transition: all .8s ease;
}

.btn-primary {
    background-color: hsl(180, 66%, 49%);
    transition: all .3s ease;
}

.btn-primary:hover {
    background-color: hsl(180, 66%, 69%);
    transition: all .3s ease;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}